$mobile: 668px - 1px;
$tablet: 1200px - 1px;
$desktop-lg: 1920px - 1px;

@mixin breakpoint($point) {
  @if $point == lg {
		// 1920px
		@media (max-width: $desktop-lg) {
			@content;
		}
	} @else if $point == md {
		// 1200px 
		@media (max-width: $tablet) {
			@content;
		}
	} @else if $point == sm {
		// 668px
		@media (max-width: $mobile) {
			@content;
		}
	}
}